{% extends "base.html" %}
{% block content %}
<article id="blog" class="body">
  <header>
  <a name="{{ page.slug }}"></a>
  <h1><a href="{{ page.permalink }}" rel="bookmark" title="permalink to {{ page.title }}">{{ page.title }}</a></h1>
  <p id="meta">
  <a href="/blog/{{ page.time|displaytime("%Y/%m")  }}/" class="button green">{{ page.display_time }}</a>
  | {{ page.categories|catlist }}
  | <a href="{{ page.permalink|appendhash("disqus_thread") }}" class="button yellow">comment</a></p>
  </header>
  {{ page.content }}
</article>
{% if CONFIG.SITE.DISQUS_NAME %}
<hr class="interblog" />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ CONFIG.SITE.DISQUS_NAME }}'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock %}
