{% extends "base.html" %}

{% block title %}
{% if page.title %}
  <title>{{ CONFIG.SITE.TITLE }} | blog - {{ page.title }}</title>
{% else %}
  <title>{{ CONFIG.SITE.TITLE }} | blog</title>
{% endif %}
{% endblock %}

{% block content %}
<section id="chronological" class="body">
{% if page.title %}
  <h1 id="pagination_title" class="button blue active">{{ page.title }}</h1>
{% endif %}

{% for unit in page.units %}

  {% if loop.first %}
    {% if page.units is not in_same_year %}
    <ol id="pagination" class="body"><span id="postgroup">In {{ unit.time.strftime("%Y") }}</span>
    {% else %}
    <ol id="pagination" class="body">
    {% endif %}
  {% elif unit.time.year != page.units[loop.index0 - 1].time.year %}
    </ol>
    <ol id="pagination" class="body"><span id="postgroup">In {{ unit.time.strftime("%Y") }}</span>
  {% endif %}
    <li>
      <span id="postitem"><a href="{{ unit.permalink }}">{{ unit.title }}</a></span>
      <span id="meta"> - <span id="time">{{ unit.time|header_timelink(CONFIG.SITE.INDEX_HTML_ONLY) }}</span> | {{ unit.tags|header_taglink(CONFIG.SITE.INDEX_HTML_ONLY, 3) }}</span>
    </li>

  {% if loop.last %}
  </ol>
  {% endif %}

{% endfor %}

</section>
{% include "blog_bottomnav.html" %}
{% if CONFIG.SITE.DISQUS_NAME %}
{% include "disqus_count.html" %}
{% endif %}
{% endblock %}
