{% extends "base.html" %}
{% block content %}
<section id="chronological" class="body">
{% for unit in page.units %}
  <article id="blog" class="body">
    {% include "blog_header.html" %}
    {% set content = unit.content|striptags %}
    {{ content|truncate(length=400, end='...') }}
    {% if content|length > 400 %}
      <a href="{{ unit.permalink }}"><big>&rarr;</big></a>
    {% endif %}
    {{ engine }}
  </article>
  {% if not loop.last %}
  <hr class="interblog">
  {% endif %}
{% endfor %}
</section>

{% if page.permalink_prev or page.permalink_next %}
  <section id="paginate" class="body">
    <hr id="paginate"/>
{% endif %}    
{% if page.permalink_prev %}
    <a href="{{ page.permalink_prev }}" id="prev" class="button green">previous</a>
{% endif %}
{% if page.permalink_next %}
    <a href="{{ page.permalink_next }}" id="next" class="button green">next</a>
{% endif %}
{% if page.permalink_prev or page.permalink_next %}
    </section>
{% endif %}

{% if CONFIG.SITE.DISQUS_NAME %}
{% include "disqus_count.html" %}
{% endif %}
{% endblock %}
