{% extends "base.html" %}
{% block content %}
<article id="intro" class="body">
    <h1>Hello!</h1>
    <p>My name is Bow, short for Wibowo Arindrarto.</p>
    <p>I'm a biology graduate student who enjoys tinkering with computers, currently based in the Netherlands.</p>
    <figure>
        <a href="http://www.flickr.com/photos/artow/2564778680/in/photostream" rel="external"><img src="/img/intro-01.jpg" alt="Vibrio cholerae colonies cultured on TCBS agar." title="Vibrio cholerae colonies cultured on TCBS agar."></a>
    </figure>
</article><!-- /#intro -->
{% endblock %}
