{% extends "base.html" %}
{% block content %}
<article id="intro" class="body">
    <h1>Hi there!</h1>
    <p>You've reached the website of Wibowo Arindrarto;</p>
    <p>an Indonesian who studied biology, loves to tinker with computers, now working as a bioinformatician in The Netherlands.</p>
    <figure>
        <a href="#"><img src="/img/intro-01.jpg"></a>
        <figcaption><em>Vibrio cholerae</em> colonies on an agar plate</figcaption>
    </figure>
</article><!-- /#intro -->
{% endblock %}
